<div class="body">
  <div class="container">
    <h2 class="text-center">{{ isRegistering ? 'Register' : 'Login' }}</h2>
    <form (ngSubmit)="isRegistering ? onRegister() : onSubmit()">
      <div *ngIf="isRegistering" class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" name="firstName" required>
      </div>
      <div *ngIf="isRegistering" class="form-group">
        <label for="secondName">Second Name</label>
        <input type="text" class="form-control" id="secondName" [(ngModel)]="secondName" name="secondName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <div *ngIf="isErrorMessage" class="alert alert-danger">{{ "The credentials are invalid" }}</div>
      <button type="submit" class="btn btn-primary btn-block">{{ isRegistering ? 'Register' : 'Login' }}</button>
    </form>
    <button class="btn btn-link" (click)="toggleForm()">{{ isRegistering ? 'Already have an account? Login' : 'Don\'t have an account? Register here' }}</button>
  </div>
</div>
